*
{
   background-color: #293133; 
   color: #fff;
   font-size:20px;
}

#generate
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:10%;
    padding:1%;
}

#generate > h1
{
    margin-bottom: 10%;
    font-family: "Rubik Doodle Shadow";
    font-size: 2rem;
    text-align: center;
}

#generate_button
{
   background-image: url("button3.png");
   width:300px;
   height:100px;
   box-shadow: 2px 2px #5C8D99;
   border: 1px solid #000;
   font-family: "Rubik Doodle Shadow";
}

#generate_button:hover
{
   background-image: url("button2.png");
   box-shadow: 2px 2px #33D6FF;
   color: #FF9533;
   font-family: 'Rubik Maps';
}

#message
{
  font-size:1.2rem;
  margin:5%;
  font-family: 'Cormorant';
  text-align: center;
}